body {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 22%;
    margin-top: -40%;
}

.divTitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.caixas {
    display: flex;
    text-align: center;
}

a img {
    width: 10%;
}

.tools {
    margin-top: 5%;
}

#menuLateral {
    border: solid black;
    width: 25%;
    height: 36.5em;
    border-radius: 30px;
}

#menuLateral input {
   width: 90%;
}

.notasSalvas {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

textarea {
    resize: vertical;
}

.criaNotas {
    color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   width: 50%;
   border: solid black;
   padding: 50px;
   border-radius: 30px;
}

.notasFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.criaNotas input {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.criaNotas textarea {
    width: 100%;

}
